body {
    background-color: rgb(232, 227, 227);
    /* background-image: url(img/logo-unpam.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right; */
    background: url(img/pemandangan.jpeg) no-repeat fixed top right ;
  }

#navbar{
    background-color: aquamarine;
}

.menu{
    font-size: large;
}
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
  }

  h2{
    color: blue;
    font-style: italic;
}
  
  p {
    font-family: verdana;
  }

  #paragraf{
    font-size: 12px;
    text-align: justify;
    text-indent: 30px;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 20px;
  }