body{
    background-color: rgb(232, 227, 227);
    /* background-image: url(img/logo-unpam.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right; */
    background: url(img/pemandangan.jpeg) no-repeat fixed top right ;
  }

#navbar{
    /* background-color: aquamarine; */
   /* margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px; */
    /* margin: top right bottom left; */
    margin: 30px 10px 10px 10px;
}

#navbar_profile{
  /* 1.static, 2.relative, 3.absolute, 4.fixed */
  position: absolute;
  top: 50px;
  left: 50px;
}

.menu{
  color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    /* display: inline-block;
    width: 50px;
    height: 50px; */
    border: 3px solid black;
    padding: 10px;
}

.menu:link{
  background:red; 
}
.menu:visited{
  background: rgb(97, 176, 255);
}
.menu:hover{
  background: green;
}
.menu:active{
  color: black;
  background: rgb(0, 204, 255);
}
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    /*display: inline;*/
  }

  h2{
    color: blue;
    font-style: italic;
    /*display: inline;*/
}
  
  p {
    font-family: verdana;
  }

  #text_panjang{
    font-size: 12px;
    text-align: justify;
    text-indent: 30px;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 20px;
  }

  #text_pendek{
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    background: yellowgreen;
    width: 50%;
    height: 200px;
    max-width: 30%;
    max-height: 100px;
    /* visibility: hidden; 
    display: none; */
  }

  form {
    font: 1em sans-serif;
    max-width: 320px;
  }
  
  p > label {
    display: block;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea,
  fieldset {
    width: 100%;
    border: 1px solid #333;
    box-sizing: border-box;
  }
  
  input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  input:focus:invalid {
    box-shadow: none;
  }
  
  